Repository huangshizhe/march: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Clean python test directories
  march_gait_selection/CMakeLists.txt
  march_gait_selection/test/nosetest/README
  march_gait_selection/test/nosetest/__init__.py
  march_state_machine/CMakeLists.txt
  march_state_machine/test/rostest/test_state_machine.py
Due: test

Add python coverage uploading
  .coveragerc
  .travis.yml
  coverage.bash
Due: none

Enable coverage for python build
  .travis.yml
Due: none

minimal working join for two sources
  march_data_collector/esp_models/march.xml
  march_data_collector/src/march_data_collector/esp_adapter.py
Due: production

join all temperature windows
  march_data_collector/esp_models/march.xml
Due: none

change temperature joint
  march_data_collector/esp_models/march.xml
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*, */include/march_*/*, */include/march_*/**/*
  test: any of: */test/**/*, */test/*
